<div class="container">

    <% @users.each do |u| %>


        <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <%= content_tag(:div, id: "star-" + u.id.to_s) do %>
     <%= render 'stars/button', :user => u %>
  <% end %>


    <%= image_tag(u.picture, :class => 'profile-img') %>
    <h2 id="<%= u.name %>" class="mdl-card__title-text"><%= link_to "#{u.name}", user_path(u.id) %>
      <% if u.online %><i style="color:green" class="fa fa-circle" aria-hidden="true"></i></td>
        <% end %>
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    Works @ Google <br>
    <% u.skill_list.each do |s| %>
    <div class="chip">
      <%= s %>
    </div>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-button mdl-button--colored">
      <% if current_user.mentors.include? u %>
        <%= link_to "Message", 'chatrooms/new?id=' + u.id.to_s %>
      <% elsif !current_user.requested_mentor?(u).empty? %>
        Request Sent
      <% elsif u.check_limit != "block" %>
        <a class="item2" href="<%= u.id %>">Request Mentor</a>
      <% else %>
        Mentee Limit Reached! Try again next week.
      <% end %>
    </div>
  </div>
</div>


    <% end %>

  <%= instant_hangout widget_size: 175  %>
  <!-- MODAL ABOUTME -->
  <div class="container">
  <div class="modal fade mymodal" id="modal-2" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"> <i class='fa fa-times'></i> </button>


          <h4 class="modal-title" id="myModalLabel">Request a Mentor</h4>
        </div>
        <div class="modal-body">
          <%= form_for @mentorship do |m| %>
            Include a personal note:<br>
            <div style="width: 100%">
              <%= hidden_field_tag(:user_id, current_user.id) %>
              <%= hidden_field_tag(:mentor_id) %>
              <%= text_area_tag(:body, "Hi, I would like to be your mentee.", size: "24x6") %><br>
            <%= m.submit "Request Mentor" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="minmaxCon"></div>
  <!-- END MODEL ABOUTME -->
</div>



<script>
id = 0;
$(document).ready(function(){
  $('.item2').click(function(e){
    elem = $( this );
    e.preventDefault();
    id = elem.attr("href")
    $('#mentor_id').val(id)
    $('#modal-2').modal({backdrop: false, keyboard: false});
  });
});
</script>
