<div class="container">
  <table class="table" style="margin-top:90px;">
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>Name</th>
    </tr>

    <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.email %></td>
      <td><%= u.name %> <% if u.current_sign_in_at != nil %><i style="color:green" class="fa fa-circle" aria-hidden="true"></i></td>
        <% end %>


        <% if current_user.mentors.include? u %>
        <td><%= link_to "Message", 'chatrooms/new?id=' + u.id.to_s %></td>
        <% elsif u.check_limit != "block" %>
        <td><%= link_to "Request Mentor", mentorships_path(:mentor_id => u.id), :method => :post %></td>
        <% else %>
        <td>  Mentee Limit Reached! Try again next week.</td>

        <% end %>

    </tr>
    <% end %>
  </table>
  <%= instant_hangout hangout_type: 'onair' %>
  <%= instant_hangout widget_size: 175  %>
</div>
