<div class="container">
  <h1>Hello, Mentor <%= current_user.name%>!</h1>
  <div class="row mr-font">
  <div class="col s6 l3">
    <div class="mr-color card medium">
        <div class="card-content white-text">
            <p class="card-stats-title "><i class="mdi-social-group-add"></i> Current Mentees</p>
            <h4 class="card-stats-number"><%= current_user.mentees.count %></h4>

        </div>

    </div>
  </div>
    <div class="col s6 l3">
      <div class="card medium">
          <div class="card-content black-text">
              <p class="card-stats-title"><i class="mdi-social-group-add"></i> Mentee Requests</p>
              <% current_user.requests.each do |r| %>
                <div style="display:flex;">
                  <h4 class="card-stats-number"><%= link_to r.name, user_path(r.id) %></h4>

                  <%= button_to "Accept", accept_request_path(r.id), class: 'accept_request', :id => r.id %>
                  <%= button_to "Not now", decline_request_path(r.id), class: 'decline_request', :id => r.id %>
                </div>
              <% end %>

          </div>

      </div>
  </div>
<div class="col s12 m6 l3">
  <div class="card medium blue-grey">
      <div class="card-content white-text">
          <p class="card-stats-title"><i class="mdi-social-group-add"></i> Activity Feed</p>
          <br>
          <div>
            <ul>
              <% current_user.activities.order(id: :desc)[0..3].each do |a| %>
                <li style="list-style-type: circle;"><%= a.content %><br><%= a.created_at.localtime.strftime('%B %d, %Y %l:%M%p') %></li>
              <% end %>
            </ul>

        </div>

  </div>
</div>
</div>

<div class="col s6 l3">
  <div class="card medium">
      <div class="card-content black-text">
          <i class="mdi-social-group-add"></i> Connections
          <ul>
          <% current_user.friends.each do |f| %>
            <li>
              <% if current_user.picture %>
                <div class="user user-friend-list" style="background-image:url(<%= "/uploads/" + current_user.picture %>)"></div>
              <% end %>
              <h4 class="card-stats-number friends-name"><%= f.name %></h4>

            </li>
          <% end %>
        </ul>


      </div>

  </div>
</div>


  <table class="table">

    <% @mentees.each do |m| %>
    <tr>
      <td><%= m[0].name %></td>
      <td><%= m[0].email %></td>
      <td><%= m[0].role %> <%= link_to "Accept Mentee", mentorship_path(id: m[1]), method: :patch %></td>

    </tr>
    <% end %>
  </table>
