

<div class="profile">
  <div class="profile-pic">
    <div class="user" style="background-image:url(<%= "/uploads/" + @user.picture %>)"></div>

  </div>
  <%= link_to "Change Profile Picture", edit_picture_path, id: 'edit-picture' %>
</div>

<!-- name bar -->
<nav class="mr-color">
  <div class="nav-wrapper">
  <h4 class="brand-logo center"><%=@user.name %><br></h4>
  </div>
</nav>



<div class="grey lighten-5">

    <% if @user.profile %>

    <section class="section--center mdl-grid site-max-width">
      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--blue-100 mdl-color-text--white">
        <div class="center-align">
            <div class="user" style="background-image:url(<%= "/uploads/" + @user.picture %>)"></div>
        </div>
      </div>


      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone ">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><%=@user.name %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          About Me: <%= @user.profile.bio %>
        </div>
        <div class="mdl-card__actions  mdl-card--border">
          <!-- <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">Watch Intro<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a> -->
          <!-- Role: <%= @user.profile.role %><br> -->


          <h5 class="light">
          <%= link_to "Linkedin Profile", @user.profile.linkedin, target: "_blank" %><br> </h5>



        </div>
      </div>
    </section>





    <div class="container" >
     <div class="row">




      <div class="col s4">
         <div class="card small">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">work</i></h2>
            <div class="card-content">
              <!-- <h4 class="center">Work</h4> -->

              <h5 class="light">
              Role: <%= @user.profile.role %><br>
              </h5>

              <h5 class="light">
              <%= link_to "Linkedin Profile", @user.profile.linkedin, target: "_blank" %><br>
              </h5>

            </div>
           </div>
          </div>
         </div>

      <div class="col s4">
        <div class="card small">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">mode_edit</i></h2>
            <div class="card-content">
              <!-- <h4 class="center">Education</h4> -->

              <h5 class="light">
              College: <%= @user.profile.school %><br>
              </h5>
              <h5 class="light">
              Graduated: <%= @user.profile.gradyear %><br>
              </h5>


            </div>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card small">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
            <div class="card-content">
              <!-- <h4 class="center">Hometown</h4> -->

              <h5 class="light">
              Hometown: <%= @user.profile.location %><br>
              </h5>

            </div>
           </div>
          </div>
        </div>
      </div>
    </div>


     <% end %>


      <% if current_user.is? :Mentee && @user != current_user %>
        <% if current_user.mentors.include? @user %>
          <%= link_to "Message", 'chatrooms/new?id=' + @user.id.to_s %>
        <% elsif !current_user.requested_mentor?(@user).empty? %>
          Request Sent
        <% elsif @user.check_limit != "block" %>
          <a class="item2" href="<%= @user.id %>">Request Mentor</a>
        <% else %>
          Mentee Limit Reached! Try again next week.
        <% end %>
      <% end %>
    </div>

    <% if @user.is? :Mentor %>

      <%= render 'users/shared/mentor', :user => @user %>


    <% end %>
