<div class="profile">
  <div class="profile-pic">
    <%= image_tag(@user.picture, :class => "profile-image") %>
  </div>

<div class="profile-details">
  <%= @user.name %><br>
  <% if @user.profile %>
    <%= @user.profile.role %><br>
    <%= @user.profile.location %><br>
    <%= @user.profile.school %><br>
    <%= link_to "Linkedin Profile", @user.profile.linkedin, target: "_blank" %><br>
  <% end %>
  <% if current_user.is? :Mentee && @user != current_user %>
    <% if current_user.mentors.include? @user %>
      <%= link_to "Message", 'chatrooms/new?id=' + @user.id.to_s %>
    <% elsif !current_user.requested_mentor?(@user).empty? %>
      Request Sent
    <% elsif @user.check_limit != "block" %>
      <a class="item2" href="<%= @user.id %>">Request Mentor</a>
    <% else %>
      Mentee Limit Reached! Try again next week.
    <% end %>
  <% end %>
</div>
</div>
<% if @user.profile %>
  <%= @user.profile.bio %>
<% end %>
  <h3>Skills:</h3>
  <% @user.skill_list.each do |s| %>
  <div class="chip">
    <%= s %>
  </div>
  <% end %>
  <% if @user == current_user %>
   <div class="chips chips-initial chips-placeholder skill_list"></div>
  <% end %>


  <h3>How I Can Help:</h3>
  <% @user.help_list.each do |s| %>

  <div class="chip">
    <%= s %>
  </div>
  <% end %>
  <% if @user == current_user %>
   <div class="chips chips-initial chips-placeholder help_list"></div>
  <% end %>

<div class="row">
  <div class="col s12 m7">
    <div id="calendar"></div>
  </div>
  <div class="col s12 m3">
    <h3>When are you available?</h3>
  </div>
</div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
