<div class="profile">
  <div class="profile-pic">
    <%= image_tag("/uploads/#{@user.picture}", :class => "profile-image") %>

  </div>
</div>


<nav>
  <div class="nav-wrapper">
  <h3 class="brand-logo center"><%= @user.name %><br></h3>

    </ul>
  </div>
</nav>




<div>
  <div class="profile-details">
    
    <% if @user.profile %>
      <%= @user.profile.role %><br>
      <%= @user.profile.location %><br>
      <%= @user.profile.school %><br>
      Graduated: <%= @user.profile.gradyear %><br>
      <%= link_to "Linkedin Profile", @user.profile.linkedin, target: "_blank" %><br>
    <% end %>
    <% if current_user.is? :Mentee && @user != current_user %>
      <% if current_user.mentors.include? @user %>
        <%= link_to "Message", 'chatrooms/new?id=' + @user.id.to_s %>
      <% elsif !current_user.requested_mentor?(@user).empty? %>
        Request Sent
      <% elsif @user.check_limit != "block" %>
        <a class="item2" href="<%= @user.id %>">Request Mentor</a>
      <% else %>
        Mentee Limit Reached! Try again next week.
      <% end %>
    <% end %>
  </div>

</div>

<% if @user.is? :Mentor %>

  <%= render 'users/shared/mentor', :user => @user %>

<% else %>
  <%= render 'users/shared/mentee', :user => @user %>

<% end %>
