<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <%= content_tag(:div, id: "star-" + user.id.to_s) do %>
      <%= render 'stars/button', :user => user %>
    <% end %>

    <div class="card-image center">
      <%= image_tag(user.picture, :class => 'profile-img') %>

      <div class="center-align">
        <h2 class="name-title" id="<%= user.name %>" ><%= link_to "#{user.name}", user_path(user.id)%>
          <div id="available-<%= user.name %>">
            <% if user.online %>
              <i style="color:green" class="fa fa-circle" aria-hidden="true"></i></td>
            <% end %>
          </div>
        </h2>
      </div>
    </div>

  </div>

  <div class="mdl-card__title mdl-card--expand mr-color" style="width: 100%; color: white;">

 <!--    <%= user.role %>  works at
    <% if current_user.mentors.include? user %>
        <% user.profile.role %>
    <% end%> <br>
 -->

    <div>
       <%= user.profile ? "Works @ " + user.profile.company : user.role %>
    </div>
  </div>

  <% if user.isFriend?(current_user) %>
    <%= link_to "Message", "chatrooms/new?id=" + user.id.to_s %>
  <% elsif current_user.requested?(user) %>
    <p> Friend Request Sent.</p>
  <% else %>
    <a href="users/friend_request/<%= user.id %>" data-id=<%= user.id %> class="friend_request">Add Friend</a>
  <% end %>
</div>
