<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <%= content_tag(:div, id: "star-" + user.id.to_s) do %>
      <%= render 'stars/button', :user => user %>
    <% end %>

    <div class="card-image center" style="margin-top:20px;">
      <div class="user user-index" style="background-image:url(<%= "/uploads/" + user.picture %>)"></div>


      <div class="center-align">
        <h2 class="name-title" id="<%= user.name %>" ><%= link_to "#{user.name}", user_path(user.id)%>
          <div id="available-<%= user.name %>" style="display:inline;">
            <% if user.online %>
              <i style="color:green" class="fa fa-circle" aria-hidden="true"></i></td>
            <% end %>
          </div>
        </h2>
      </div>
    </div>

  </div>

  <div class="mdl-card__title mdl-card--expand mr-color" style="width: 100%; color: white;">

<!-- 
    <%= user.role %>  works at
    <% if current_user.mentors.include? user %>
        <% user.profile.role %>
    <% end%> <br> -->

<!-- this fixes a nil bug -->
    <div>
      <% if current_user.mentors.include? user %>
        <%= user.profile ?  "Works @ " + user.profile.company : user.role %>
       <% end%> <br>
    </div> 

  </div>
<% if current_user != user %>
  <% if user.isFriend?(current_user) %>
    <%= link_to "Message", "chatrooms/new?id=" + user.id.to_s, class: 'waves-effect waves-green btn' %>
  <% elsif current_user.requested?(user) %>
      <a class="waves-effect waves-light btn">Friend Request Sent</a>
  <% else %>

    <a class="target waves-effect waves-light btn" data-name="<%= user.name %>" data-id="<%= user.id %>" href="#add-friend">Add Friend</a>
  <% end %>
<% end %>
</div>
