<div class="container">
  <div class="chat">
      <div class="chat-header clearfix">
        <%= image_tag(@chatroom.other_user(current_user.id).picture, class: 'img-icon circle')  %>

        <div class="chat-about">
          <div class="chat-with">Chat with <%= @chatroom.other_user(current_user.id).name%></div>
          <div class="chat-num-messages">Messages total: <%= @chatroom.messages.count %></div>
        </div>

      </div> <!-- end chat-header -->

      <div class="chat-history">
        <ul id="messages">

          <% if @chatroom.messages.any? %>
              <%= render partial: 'messages/message', collection: @chatroom.messages.order('id ASC') %>
          <%end%>




        </ul>

      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">

        <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom} %>
        <!-- <%= button_to "End Flash Session" %> -->

      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div>

<script>
  $(document).on('keypress', function(e) {
    var code;
    code = e.keyCode || e.which;
    if (code === 13) {
      e.preventDefault();
      return false;
    }
  });
</script>
