<div class="container">
  <div class="row">
    <div class="col s12 m3">
      <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#video-chat">Start Video Chat</a>

        <!-- Modal Structure -->
        <div id="video-chat" class="modal">
            <iframe id="video" style="height: 100%;"></iframe>
        </div>
    </div>
    <div class="col s12 m6">
            <div class="chat">
                <div class="chat-header clearfix">
                  <!-- <%= image_tag("/uploads/" + @chatroom.other_user(current_user.id).picture, class: 'img-icon circle')  %> -->

                  <div class="chat-about">
                    <div class="chat-with">Chat with <%= @chatroom.other_user(current_user.id, true)%></div>
                    <div class="chat-num-messages">Messages total: <%= @chatroom.messages.count %></div>
                  </div>

                </div> <!-- end chat-header -->

                <div class="chat-history">
                  <ul id="messages" data-chatroom-id="<%= @chatroom.id %>" data-first-id="<%= current_user.id %>" data-second-id="<%= @chatroom.other_user(current_user.id).id %>">

                    <% if @chatroom.messages.any? %>
                        <%= render partial: 'messages/message', collection: @chatroom.messages.includes(:user).order('id ASC') %>
                    <%end%>




                  </ul>

                </div> <!-- end chat-history -->

                <div class="chat-message clearfix">

                  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom} %>
                  <!-- <%= button_to "End Flash Session" %> -->

                </div> <!-- end chat-message -->

              </div> <!-- end chat -->

      </div>
    </div>
  </div>

  <script src="//developer.appear.in/scripts/appearin-sdk.0.0.4.min.js"></script>
  <script>
    var AppearIn = window.AppearIn || require('appearin-sdk');
    var appearin = new AppearIn();
    var roomName = "<%= @chatroom.topic %>"
    var iframe = document.getElementById("video");
    appearin.addRoomToIframe(iframe, roomName + "-mentorroom");  
  </script>
