<header>
  <div class="center-align transbox mr-font white-text">
      <h1><b>What's Your Dream?
      </b></h1>

      <h4>Find Mentors That Can Help You Get There
      </h4><br>       
                
      <div class="center-align">
        <a href="/users/sign_in" class="big-btn white-text mr-color waves-effect waves-green waves-input-wrapper" data-mode="2">Log In</a>
        
        <a href="/users/sign_up" class="big-btn white-text  indigo waves-effect waves-green waves-input-wrapper " data-mode="2">Sign Up</a>
      </div>
  </div>


</header>

 <!-- Mentors at your fingertips — Search & Connect with Professionals -->

<section class="white-text mr-purple ">
  <div class="container center-align">
       <h2 class="thin flow-text section-subheading " >MentorRoom lets you easily find, connect, and engage with mentors via our web platform that is personalized for your needs. Find and explore interesting people to connect with, from tech industry professionals and innovators, to diverse community champions and leaders, and inspiring, talented students.
      </h2>
<!-- 
       <iframe width="360" height="500" src="<%= "//www.youtube.com/embed/FNakfk2RRkc" %>"></iframe> -->


  </div>
</section> 



<section class="mr-font">

  <div class="row">
      <h2 class="section-heading center-align">What We Offer</h2>
      
      <div class="col s4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="large material-icons">contact_phone
</i></h2>
            <div class="card-content">
              <h5 class="center">Connections to High Quality Mentors</h5>
            </div>  
           </div>
      </div>

      <div class="col s4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="large material-icons">schedule</i></h2>
            <div class="card-content">
              <h5 class="center">Real Time Advice And Support</h5>
            </div>  
           </div>
      </div>

      <div class="col s4 ">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="large material-icons">message</i></h2>
            <div class="card-content">
              <h5 class="center">Communication Via Messaging And Video Calls</h5>
            </div>  
           </div>
      </div>
  </div>


</section> 
 <!-- <div class="col s12 m7">
             <div class="card horizontal">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <div class="card-content">
                  <h5 class="center">Connections to High Quality</h5>
                </div>  
               </div>
              </div>
</div>
 -->
<section class="mr-font mr-darkblue">

    <div class="row">
        <h2 class="section-heading center-align white-text "><b>Our Impact</b></h2>
      <!--   <h4 class="section-subheading text-muted center-align white-text">Our one-to-one matches are truly making an impact in student’s lives.<br></h4> -->
      <div class="container">
      <!-- <img class="materialboxed" width="650" src="images/sample-1.jpg"> -->
        <%= image_tag('cohort2', :class => 'center-align col s8 image-section img-responsive') %>
      
        <div class="col s4 white-text">
            <div class="icon-block">
              <h2 class="center"><b class="large">80%</b></h2>
              <div class="card-content">
                <h5 class="center">Of students in our cohort were first-generation college students</h5>
              </div>  
             </div>
        </div>

        <div class="col s4 white-text">
            <div class="icon-block">
              <h2 class="center"><b class="large">96%</b></h2>
              <div class="card-content">
                <h5 class="center">Of students and mentors stated that they grew personally and professionally because of mentorship</h5>
              </div>  
             </div>
        </div>

        <div class="col s4 white-text">
            <div class="icon-block">
              <h2 class="center"><b class="large">450+</b></h2>
              <div class="card-content">
                <h5 class="center">Hours of mentorship accomplished in three months</h5>
              </div>  
             </div>
        </div>
      </div>
    </div>


       
 

</section> 



<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Committed to increasing access to mentors for everyone.</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag 'itzel.png', :alt => 'itzel_pic', :class => "mg-responsive img-circle" %>
                    <h4>Itzel Martinez</h4>
                    <p class="text-muted">Co-Founder and Engineer</p>
                    <ul class="list-inline social-buttons">
                      
                        <li><a href="https://www.linkedin.com/in/itzeljm/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="team-member"> 
                    <%= image_tag 'dante.png', :alt => 'dante_pic', :class => "mg-responsive img-circle" %>
                     <h4>Dante Alvarado-Leon</h4>

                   

                    <p class="text-muted">Co-Founder</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://www.linkedin.com/in/dantealvaradoleon/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag 'hubert2.png', :alt => 'hubert_pic', :class => "mg-responsive img-circle" %>
                    <h4>Hubert Pham</h4>
                    <p class="text-muted">Web Developer/ Engineer</p>
                    <ul class="list-inline social-buttons">
                      
                        <li><a href="https://www.linkedin.com/in/hpham95/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag 'tamanna.png', :alt => 'tamanna_pic', :class => "mg-responsive img-circle" %>
                    <h4>Tamanna Khemani</h4>
                    <p class="text-muted">Operations Intern</p>
                    <ul class="list-inline social-buttons">
                      
                        <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

<!-- 
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4></h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div> -->

        </div>
      <!--   <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
</section>

<!-- 
<section id="contact" class="contact indigo lighten-2">
 <div class="white-text container">
     <h2>Chec</h2>
      <ul class="list-inline list-social">
         <li class="social-twitter">
             <a href="https://twitter.com/Mentorroom"><i class="fa fa-twitter"></i></a>
         </li>
         <li class="social-facebook">
             <a href="https://www.facebook.com/MentorRoom/"><i class="fa fa-facebook"></i></a>
         </li>
        
      </ul>
 </div>
</section> -->

<footer>
   <div class="container">
       <h4>&copy; MentorRoom 2017</h4>
       <ul class="list-inline">
          <li>
            <h4>Follow Us Here!</h4>
          </li>

          <ul class="list-inline list-social">
             <li class="social-twitter">
                 <a href="https://twitter.com/Mentorroom"><i class="large fa fa-twitter"></i></a>
             </li>
             <li class="social-facebook">
                 <a href="https://www.facebook.com/MentorRoom/"><i class="large fa fa-facebook"></i></a>
             </li>
             <!-- <li class="social-google-plus">
                 <a href="#"><i class="fa circle fa-linkedin"></i></a>
             </li> -->
          </ul>

        <!--  <li>
             <a href="#">Privacy</a>
         </li>
         <li>
             <a href="#">Terms</a>
         </li>
         <li>
             <a href="#">FAQ</a>
         </li>

         <li>
             <a href="#">Report Bugs</a>
         </li> -->

       </ul>
   </div>
</footer>



