<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <!-- <li><%= link_to "FlashSession", flash_sessions_path, method: :get %></li> -->
    <% if current_user.is? :Mentee %>
      <li><%= link_to "Mentors", users_path, method: :get %></li>
    <% elsif current_user.is? :Mentor %>
      <li><%= link_to "Mentees", users_path, method: :get %></li>
    <% end %>
      <li style="position:relative;"><%= link_to "Messages", chatrooms_path %>
        <% if new_messages? %>
          <span class="button_badge"><%= new_messages? %></span>
        <% end %>
      </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <li><%= link_to("Settings", edit_user_registration_path) %></li>
      <li class="dropdown">
            <a data-toggle="dropdown" href="" aria-expanded="false">
              <i id="notify-icon" class="material-icons">notifications</i></a>
                                  <div class="dropdown-menu notify-dropdown pull-right">
                                      <div class="list-group him-notification">
                                          <div class="lg-header">
                                              Notification
                                              <a href="" id="clear-all">
                                                  <i class="material-icons tooltipped" data-position="right" data-tooltip="Clear All">clear_all</i>
                                              </a>
                                          </div>
                                          <div class="lg-body">
                                          <% if current_user.notification && current_user.notification.messages? %>
                                            <% current_user.notification.messages.each do |message| %>
                                              <%= render partial: "/layouts/message", object: message %>
                                            <% end %>
                                          <% end %>
                                        </div>
                                      </div>
                                  </div>
                              </li>
      <li><% if current_user.picture %><li><%= link_to image_tag(current_user.picture, class:'img-icon circle'), user_path(current_user), class: 'icon-container' %></li><% end %>
  <% else %>
    <li><a class="page-scroll" href="#download">Download</a></li>
    <li><a class="page-scroll" href="#features">Features</a></li>
    <li><a class="page-scroll" href="#contact">Contact</a></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
    <li><%= link_to('Register', new_user_registration_path)  %></li>
  <% end %>
</ul>
<script>
$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
