<div>
  <nav class="mr-black">
    <% if current_user %>
    <div class="nav-wrapper">

      <% if current_page?(users_path) %>
      <form style="display: inline-block;width: 50%;margin-left: 12%;">
        <div class="input-field">
          <%= form_tag users_path, :method => "get", :id => "search" do %>
            <%= text_field_tag :search, params[:search], class: 'autocomplete', id: 'search', autocomplete: 'off', placeholder: 'Search' %>
            <label for="search" style="padding-left:12px; margin-right: 5px;"><i class="material-icons">search</i></label>
          <% end %>
        </div>
      </form>
      <% end %>



      <ul class="right">
        <li><a href="/users"><i class="white-icon material-icons">group</i></a></li>
        <li><a href="/chatrooms"><i class="white-icon material-icons">question_answer</i></a></li>
        <li class="dropdown">
          <a data-toggle="dropdown" aria-expanded="false">
            <i id="notify-icon" class="material-icons">notifications</i></a>
            <div class="dropdown-menu notify-dropdown pull-right">
              <div class="list-group him-notification">
                <div class="lg-header">
                  Notification
                  <a href="" id="clear-all">
                    <i class="material-icons tooltipped" data-position="right" data-tooltip="Clear All">clear_all</i>
                  </a>
                </div>
                <div class="lg-body">
                  <% current_user.requests.each do |r| %>
                    <div>
                      <h4 class="card-stats-number"><%= link_to r.name, user_path(r.id) %></h4>
                      <div style="display:flex;">
                        <%= button_to "Accept", accept_request_path(r.id), class: 'accept_request', :id => r.id %>
                        <%= button_to "Not now", decline_request_path(r.id), class: 'decline_request', :id => r.id %>
                      </div>
                    </div>
                  <% end %>
                  <% if current_user.notification && current_user.notification.messages? %>
                    <% current_user.notification.messages.order(id: :desc).each do |message| %>
                      <%= render partial: "/layouts/message", object: message %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i style="color: white;position: absolute; top: 15px; left: 25px;" class="material-icons">menu</i></a></div>



    <ul id="nav-mobile" class="side-nav">
      <li class="logo"><a id="logo-container" class="grey darken-3 brand-logo"><%= image_tag('single-logo.png', width: '75', style: 'position: absolute; top: 5px;') %>
      </a></li>
        <!-- <li class="search">
          <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li> -->

        <%= render 'layouts/navbar_links' %>
      </ul>
      <% else %>

      <!-- This is where we center the logo int he navbar -->
      <a style="left:0; margin-left: 30px;" id="logo-container" class="brand-logo center-align">
        <%= image_tag('mentorroom.png', width: '140') %>
      </a>
      <% end %>
    </div>
