<ul>
  <% if user_signed_in? %>
    <!-- <li><%= link_to "FlashSession", flash_sessions_path, method: :get %></li> -->
    <% if current_user.picture %>
      <li class="grey darken-3 center"><div class="user user-navbar" style="background-image:url(<%= "/uploads/" + current_user.picture %>)"></div></li>
    <% end %>

    <%= link_to "Organizations", organizations_path %>

    <%= link_to "Profile", user_path(current_user) %>
    <% if current_user.is? :Mentee %>
      <li><%= link_to "Mentors", users_path, method: :get %></li>
    <% elsif current_user.is? :Mentor %>
      <li><%= link_to "All Users", users_path, method: :get %></li>
    <% end %>
      <li style="position:relative;"><%= link_to "Messages", chatrooms_path %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <li><%= link_to("Settings", edit_user_registration_path) %></li>


  <% else %>
    <li><a class="page-scroll" href="#download">Download</a></li>
    <li><a class="page-scroll" href="#features">Features</a></li>
    <li><a class="page-scroll" href="#contact">Contact</a></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
    <li><%= link_to('Register', new_user_registration_path)  %></li>
  <% end %>
</ul>
<script>
$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
