
<div class="container mr-font">
  <div class="row">
    <div class="col-md-8 col-md-offset-4" style="position:absolute;height:50%; top:0;left:0;right:0;bottom:0; margin:auto;">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>


        <br>

        <div class="field">
          <%= f.fields_for :profile do |p| %>
              <div class="input-field">
                <%= p.text_area :bio, class: 'materialize-textarea', length: 300 %>
                <%= p.label :bio, 'Brief Bio' %>
              </div>
              <div class="input-field">
                <%= p.text_field :location %>
                <%= p.label :location %>
              </div>
              <div class="input-field">
                <%= p.text_field :major %>
                <%= p.label :major %>
              </div>
              <div class="input-field">
                <%= p.text_field :school %>
                <%= p.label :school %>
              </div>
              <div class="input-field">
                <%= p.text_field :company %>
                <%= p.label :company %>
              </div>
              <div class="input-field">
                <%= p.select :gradyear, (Time.now.year).downto(Time.now.year - 40).to_a %>
                <%= p.label :gradyear, 'Graduation Year' %>
              </div>
              <div class="input-field">
                  <%= select_tag 'user[profile_attributes][degrees]', options_for_select([["High School Diploma", "High School Diploma"], ["Community College", "Community College"], ["B.A.", "B.A."], ["B.S.", "B.S"], ["M.A.", "M.A."], ["M.S.", "M.S."], ["MBA", "MBA"], ["Ph.D", "Ph.D"]], selected: p.object.degrees), multiple: true, include_blank: 'Pick any' %>
                <label>Degrees Completed</label>
              </div>
              <div class="input-field">
                <%= p.text_field :clubs %>
                <%= p.label :clubs, 'List all clubs/organizations (optional)' %>
              </div>
              <div class="input-field">
                <%= p.text_field :role %>
                <%= p.label :role, "Job Title" %>
              </div>
              <div class="input-field">
                <%= p.select 'sector', options_for_select(["Private Industry", "Government Agency", "Military/Defense Contractor", "R&D", "Self-employed", "Non-profit", "Academic Institution", "Other"], selected: p.object.sector) %>
                <label>Sector in which you work (or have most experience)</label>
              </div>
              <div class="input-field">
                <%= p.text_field :linkedin %>
                <%= p.label :linkedin, 'LinkedIn URL' %>
              </div>
              <div class="input-field">
                <%= p.text_field :twitter %>
                <%= p.label :twitter, 'Twitter URL (optional)' %>
              </div>
              <div class="input-field">
                <%= p.text_field :website %>
                <%= p.label :website, 'Personal Website URL (optional)' %>
              </div>


        </div>
    <% end %>

        <div class="actions">
          <%= f.submit "Update", class:'mr-color btn waves-effect waves-green'%>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p class="mr-font ">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class:'red btn waves-effect waves-green', data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back, class:'mr-color btn waves-effect waves-green' %>
    </div>
  </div>
</div>
