<style>
  .breadcrumb {
    background-color: transparent;
  }
  .breadcrumb:last-child {
      color: rgba(255,255,255,0.7);
    }
  .fieldset:not(:first-of-type) {
	display: none;
}
.caret {
  border-color: transparent !important;
}
.active {
  color: #fff;
}
</style>

<div class="container">
  <h3>Before we get started:</h3>

  <nav>
     <div class="nav-wrapper grey darken-1">
       <div class="col s12" id="progressbar">
         <a href="#!" class="breadcrumb active">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a> </a>
       </div>
     </div>
   </nav>
   <div class="row">
     <div class="col s12 m6">
            <div class="card blue darken-4">
              <div class="card-content white-text">
                <span class="card-title">Let's Build Your Profile</span>
                <%= form_for @user, url: update_path do |f| %>

                <%= f.fields_for :profile do |p| %>
                <div class="fieldset">
                  <div class="input-field">
                    <%= p.text_field :location %>
                    <%= p.label :location %>
                  </div>
                  <div class="input-field">
                    <select multiple>
                      <option value="" disabled selected>Select all that apply</option>
                      <option value="1">High School Diploma</option>
                      <option value="2">Community College</option>
                      <option value="3">B.A.</option>
                      <option value="3">B.S.</option>
                      <option value="3">Master's</option>
                      <option value="3">MBA</option>
                      <option value="3">Ph.D</option>
                    </select>
                    <label>Degrees Completed</label>
                  </div>

                  <div class="input-field">
                    <%= p.text_field :school %>
                    <%= p.label :school %>
                  </div>

                  <a class="waves-effect waves-teal btn-flat next">Next</a>
                </div>



                <div class="fieldset">
                  <div class="input-field">
                    <%= p.text_field :role %>
                    <%= p.label :role, "Job Title" %>
                  </div>
                  <div class="input-field">
                    <select>
                      <option value="" disabled selected>Select</option>
                      <option value="1">Private Industry</option>
                      <option value="2">Government Agency/Lab</option>
                      <option value="3">Military/Defense Contractor</option>
                      <option value="3">R&D</option>
                      <option value="3">Self-employed</option>
                      <option value="3">Non-profit</option>
                      <option value="3">Academic Institution</option>
                      <option value="3">Other</option>
                    </select>
                    <label>Sector in which you work (or have most experience)</label>
                  </div>
                  <div class="input-field">
                    <%= p.text_field :linkedin %>
                    <%= p.label :linkedin %>
                  </div>

                  <!-- <div class="input-field">
                      <select multiple>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Software Engineering">Software Engineering</option>
                        <option value="Finance">Finance</option>
                        <option value="Graphic Design">Graphic Design</option>
                      </select>
                      <label>Skills</label>
                    </div> -->
                 <a class="waves-effect waves-teal btn-flat prev">Prev</a>
                 <% end %>
                 <button class="btn waves-effect waves-light" type="submit" name="commit" value="Update Profile">Submit<i class="material-icons right">send</i></button>
                </div>


                <% end %>
              </div>
            </div>
          </div>
    </div>
 </div>


<script>
$('select').material_select();
</script>
